# Temporary files
temp/
*.txt
*.log

# Environment and Virtualenv
.env
.env.yaml
.venv/
env/
venv/

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Firebase and Google Auth
.firebase/
serviceAccountKey.json
token.json
credentials.json
